.filterFrame{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 200px;
  border: 3px solid #7A7A7A;
  border-radius: 6px;
  padding: 15px;
  gap: 10px;
}


.filterName{
  font-size: 18px;
}

.category{
  color: #00203399;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.myStyleForInput > * > * > * > *:first-child > * > *{
  //background-color: #00DED1 !important;
  max-width: 95px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: inherit !important;
}

.myStyleForInput > * > * > * > * {
  max-width: 170px !important;
}
