@import "bootstrap/scss/bootstrap";

.container{
  margin:10px auto;
  box-sizing: border-box;
  justify-content: space-between;
}

.gridFilterContainer{
  display: flex;
  gap: 10px;
}


.defaultGrid{
  flex: 1
}

.filterProduct{
  flex-shrink: 0;
}

